@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.nav-links {
  display: flex;
}

.nav-item {
  position: relative;
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  z-index: 1;
}

// Diagonal Hover
.nav-1 {
  a.active:after,
  a:hover:after {
    height: 30px;
    width: 110%;
  }

  a:after {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 0;
    height: 5px;
    width: 100%;
    background: #9abbe8;
    z-index: -1;
    transition: 0.3s;
  }
}

// Vertical Hover
.nav-2 {
  a {
    padding: 0 10px;
    background: linear-gradient(#000 0%, #000 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0 4px;
    transition: background-size 0.5s;
  }

  a:hover {
    background-size: 4px 100%;
    color: #fff;
  }
}

// Horizontal Hover
.nav-3 {
  a {
    padding: 0 10px;
    background: linear-gradient(#000 0%, #000 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0 4px;
    transition: background-size 0.5s;
  }

  a:hover {
    background-size: 100% 4px;
    color: #fff;
  }
}

// Underline from center
.nav-4 {
  a {
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
  }

  a:hover {
    color: #000;
  }

  a::before {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 4px;
    height: 3px;
    bottom: 4px;
    left: 0;
    background-color: #000;
    visibility: hidden;

    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

// #ffd2d2
// #e76572

// #4ff2f8
// #4db1d8
// #9abbe8

// #facfa2
// #eab780
