@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

li {
  list-style: none;
}

.navbar {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.nav-links {
  display: flex;
}

.nav-item {
  position: relative;
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  z-index: 1;
}

.navbar li a.active:after,
.navbar li a:hover:after {
  height: 30px;
  width: 110%;
}

.navbar li a:after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;
  height: 5px;
  width: 100%;
  background: #ffdfbd;
  z-index: -1;
  transition: 0.3s;
}

/* 
#ffd2d2
#e76572

#4ff2f8
#4db1d8
#9abbe8

#facfa2
#eab780
*/
